player-connection-mode=Listen
player-connection-guid=729128733
player-connection-debug=0
player-connection-project-name=FingerTap2D3DVR
player-connection-ip=10.131.113.6
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
xrsdk-pre-init-library=UnityOpenXR
xr-vulkan-extension-fragment-density-map-enabled=1
xr-meta-enabled=1
build-guid=f6b5deb9bd0d4d1398fa2c1dc08691c0
